
html {
	position: relative;
	max-width: 1366px;
	max-height: 768px;

	width: 1366px;

	min-width: 800px;
	min-height: 677px;	
	
	overflow-x: hidden;
}

body {
    background: #F1F3FA;
}

hr { 
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.half-width-form {
    width: 50%;
}

.max-width{
    max-width: 100%;
}

.submit-button{
    margin-left: 46%;
    background-color: #087830 !important;
    border-color: #087830 !important;
}

.submit-button input:hover {
	background-color:#fff;
}

.link{	
    cursor: pointer;
    color: #087830;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    color: #087830;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
}

.navheader {
	width: 100%;
	background-color: #00703C;
	vertical-align: middle;
	z-index: 999999;
}
.navheader h3 {
	padding-left: 10px;
	padding-top: 15px;
	color: #fff;
}

/* Add a black background color to the top navigation */
.topnav {
	width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index: 999999;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.r-nav{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #008044;
    color: white;
}

.side-bar{
    margin-top: 35%;
}

.side-bar-header{
    font-size: .8em;
}

.side-bar-link{
    font-size: .8em;
    margin: 0 !important;
}

.hidden{
    display: none;
}

.error{
	display: block;
}