.time-table table,.time-table th,.time-table td{
	border: 1px solid #f3f1fa;
	font-size: 1.3rem;
	background-color: #dadff1;
	text-align: center;
	min-height: 150px;
	vertical-align: middle;
	padding:0;
	margin:0;
}

.time-table th{
	background-color: #b4bee4;
}

.time-btn{
	display: inline-block;
	width:23px;
	margin:1px;
	background-color: #00cc00;
	text-decoration: none;
	padding:0;
}



.time-btn:hover{
	background-color:#99ff66;
}

.unavailable{
	background-color: #ff3300;
}

.selected{
	background-color: #ff9900;
}

.unavailable:hover{
	background-color: #ff9933;
}

.selected:hover{
	background-color:#ffcc00;
}

